<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Travel Blog</title>
</head>

<body>

    <header class="box">

        <div class="button2 navi_buttons_left">
            Clear All!
        </div>

        <h1>Travel Weather</h1>

        <div class="navi_buttons_right">
            <a href="../page_not_available/page_not_available.html" class="button2">contact us</a>
            <a href="../page_not_available/page_not_available.html" id="social"></a>
        </div>

    </header>

    <main class="box">
        <section id="start" class="nested_pictures">
            <h2>Enter a city to start planing:</h2>
            <input id="cityName" type="text" name="input" value="" placeholder="Enter a city here to start.">
            <h2>Enter the time periode of your travel:</h2>
            <input id="startDate" type="text" name="input" value="" placeholder="Enter the first day of your travel period (MM/DD/JJJJ).">
            <input id="endDate" type="text" name="input" value="" placeholder="Enter the last day of your travel period (MM/DD/JJJJ).">
            <a id="getLocationData" class="button">Get data on travel location!</a>
        </section>



        <!--         <section class="travelDest nested_pictures">
            <H2>Your Travel Information for:</H2>
            <H2> userDat.city+geoData.country</H2>
            <p> (userdata.startDay to userdata.endDay)</p>

            <p>Your trip is <span class='h2AlikeP'>userData.daysAway</span> days away.</p>

            <span class='h2AlikeP'>Typical Weather:</span>
            <div class="weatherBlock">
                <p>Temperature: weatherData.temp</p>
                <p>Precipitation: weatherData.precip</p>
                <p>Wind Speed: weatherData.windSpeed</p>
            </div>
            <p font-style="italic">Weather Description: weatherData.weatherDescription</p>

            <a id="remove" class="button">Remove this travel location!</a>
        </section> -->

    </main>

    <footer>
        <a href="../page_not_available/page_not_available.html">
            <h3 class="link">Impressum</h3>
        </a>

        <a href="../page_not_available/page_not_available.html">
            <h3 class="link">Kontakt</h3>
        </a>

        <a href="../page_not_available/page_not_available.html">
            <h3 class="link">Datenschutzerklärung</h3>
        </a>
    </footer>
    <!-- <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('./service-worker.js');
            });
        }
    </script> -->
</body>

</html>