@media(min-width: 600px) and (max-width:900px) {
    section {
        width: 99vw;
    }
    /* ------------ homepage-------------- */
    .mainbox {
        grid-template-columns: 50% 50%;
        grid-auto-rows: 80vw 80vw;
    }
    /* ------------blog pages-------------- */
    .blogbox {
        grid-template-columns: 70% 30%;
        grid-template-rows: minmax(300px, auto) minmax(300px, auto);
        grid-template-areas: "text topic" "text topic";
    }
    .topic_picture {
        width: 25vw;
        height: 15vw;
    }
}

@media(min-width:901px) {
    .section {
        width: 99vw;
        font-size: 24px;
    }
    /* ------------ homepage-------------- */
    .mainbox {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 30vw 30vw;
    }
    /* ------------blog pages-------------- */
    .blogbox {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: minmax(300px, auto) minmax(300px, auto);
        grid-template-areas: "text topic" "text topic";
        font-size: 0.7 em;
    }
    .topic_picture {
        width: 25vw;
        height: 15vw;
    }
}