form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    background-color: white;
    width: 70%;
}

input {
    padding: 5px 20px;
    width: 70%;
    line-height: 16px;
}