/* ----------------Styling header area: ------------*/

header {
    font-family: 'Courier New', Courier, monospace;
    grid-area: hd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 0.2em solid whitesmoke; */
}


/* Syling of navigation buttons */

.button2 {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba($color: #000000, $alpha: 0.02);
    font-weight: 600;
    padding: 3px 3px;
    border-radius: 30%;
    margin: 3px;
    border: 1px solid rgba($color: #000000, $alpha: 0.25);
    color: #444;
    font-size: 0.5em;
    line-height: 1.7;
    text-align: center;
}

.button2:hover {
    background-color: rgb(68, 68, 68);
    cursor: pointer;
    border: 2px solid whitesmoke;
    padding: 5px 3px;
    color: white;
}


/* Distribution of navigation buttons */

.navi_buttons_left {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navi_buttons_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-right;
    //align-items: center;
}


/* used for Title */

h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    background: rgb(70, 70, 70);
    border: 0.1em solid whitesmoke;
    border-radius: 70%;
    padding: 0.9em;
    text-align: center;
    z-index: 100;
}